/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  padding: 5vh 5vw;
  background: rgb(25,20,20);
  background: linear-gradient(106deg, rgba(25,20,20,1) 0%, rgba(26,48,31,1) 35%, rgba(27,91,48,1) 68%, rgba(29,185,84,1) 100%);
  background-repeat: repeat;
  background-size: contain;
  height: 100%;
  margin: 0;
  background-attachment: fixed;

}

#main {
  padding-top: 10px;
}

h1,h3{
    color: white;
}
span{
    color: white;
}

footer {
  margin-top: 50px;
  padding-top: 25px;

}

.nicejob {
  text-decoration: line-through;
}


.track {
  color: white;
  position: static;
  
}
.track.li {
  color: white;
}

li {
    font-size: 20px;
    list-style-type: none;
}


